<div class="login-full">
  <div class="login-container container" data-container="true" style="width: 360px">
    <div class="m-b-lg">
      <div class="login-header">
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-image" id="crn-image-880856"><img src="img/logo.png" class="" width="" height="50"></div>
      </div>
      <form class="form-validation" autocomplete="off" name="form" ng-submit="login()" role="form"> 
        <div class="text-danger wrapper text-center" ng-show="authError">
            
        </div>
        <div class="list-group list-group-sm">
          <div class="list-group-item">
           <input type="text" class="form-control no-border" ng-model="username.value" id="username" placeholder="{{'Login.view.Username' | translate}}">
          </div>
          <div class="list-group-item">
             <input type="password" class="form-control no-border" ng-model="password.value" id="password" placeholder="{{'Login.view.Password' | translate}}"> 
          </div>
        </div>
        
        <div class="messages">
          <div ng-show="message.error" class="help-block">{{message.error}}</div> 
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="form.$invalid || vm.dataLoading">{{"Login.view.Login" | translate}}</button>
        
        <div class="row omb_row-sm-offset omb_socialButtons" style="text-align:center"> 
          <div class="col-xs-4 col-sm-2"> 
            <a href="/oauth2?idp=facebook" class=""><img src="img/facebook.png" class="zoom-button"></a> 
          </div> 
          <div class="col-xs-4 col-sm-2"> 
            <i class="fa fa-twitter visible-xs"></i> 
            <a href="/oauth2?idp=github" class=""><img src="img/github.png" class="zoom-button"></a> 
          </div> 
          <div class="col-xs-4 col-sm-2"> 
            <i class="fa fa-google-plus visible-xs"></i> 
            <a href="/oauth2?idp=google" class=""><img src="img/google.png" class="zoom-button"></a> 
          </div> 
          <div class="col-xs-4 col-sm-2"> 
            <i class="fa fa-linkedin visible-xs"></i> 
            <a href="/oauth2?idp=linkedin" class=""><img src="img/linkedin.png" class="zoom-button"></a> 
          </div> 
          <div class="col-xs-4 col-sm-2" style="text-align:right"> 
            <i class="fa fa-cloud visible-xs"></i> 
            <a href="/oauth2?idp=uaa" class=""><img src="img/cloudfoundry.png" class="zoom-button"></a> 
          </div> 
          
        </div> 
      </form>
    </div>
    
  </div>
</div>
